* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Grid */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
    position: relative;
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 95%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 640px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #222; }


/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color: #484848; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.3; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.6rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Lists */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Spacing */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
  border: none }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
    border: none;}


/* Utilities */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


.absolute-center {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
}
/* Clearing */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/





.nav-m {
    height: 70px;
    width: 100%;
    background-color: #fff;
    padding: 20px 0px;

    nav {
        ul {
            float: right;
            li {
                display: inline-block;
                list-style: none;
                margin:0px 0px 0px 25px;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 1.6rem;
                    padding: 0px;
                    font-weight: 400;
                    color: #484848;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .nav-logo {
        background: url(../images/redsquare-logo-with-text.png) no-repeat center center;
        position: relative;
        float: left;
        height: 50px;
        width: 450px;
        margin-top: -12px;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
    }
}


hr {
    margin: 0 0 25px;
    background-color: #E62B1E;
    width: 60px;
    height: 2px;
    border: none;
}
.hr-left {
    margin-left: 0px;
    margin-right: auto;
}
.hr-right {
    margin-right: 0px;
    margin-left: auto;
}
.hr-center {
    margin-left: auto;
    margin-right: auto;
}

.hero-m {
    min-height: 600px;
    background: url(../images/redsquare-hero-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .hero--message {
        margin: 125px 0px 0px;
        padding: 30px 10px 10px 45px;
        background-color: #fff;
        transform: translateX(-3.3em);
        opacity: 0;
        -webkit-transition: all 555ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition:           all 555ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

        h1 {
            color: #484848;
        }
        p {
            color: #484848;
        }
    }
}

.services-m {
    padding: 75px 0px;
    text-align: center;

    .container {
        border: 10px solid #fafafa;
        padding: 35px 50px 50px;
    }
    .services-header {
        margin: 10px auto 35px;
        text-align: center;
    }
}
.pre-international {
    min-height: 280px;
    background: url(../images/redsquare-international-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .hero--message {
        padding: 175px 0px 0px;

        h1 {
            color: #484848;
        }
        p {
            color: #484848;
        }
    }
}

.content-m {
    background-color: #2a2a2a;
    -moz-box-shadow: inset 0 -150px 15px -150px #fff;
       -webkit-box-shadow: inset 0 -150px 15px -150px #fff;
       box-shadow: inset 0 -150px 15px -150px #fff;
}


.international-m {
    background-color: #f5f5f5;

    .international-city {
        min-height: 400px;
        background-color: #fff;


    }

    .four {
        padding: 100px 20px;
    }

    .vancouver {

        .eight {
            height: 400px;
            background: url(../images/redsquare-vancouver.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .rio {
        text-align: right;
        .eight {
            height: 400px;
            background: url(../images/redsquare-rio.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .hongkong {
        background-color: #fff;
        .eight {
            height: 400px;
            background: url(../images/redsquare-hongkong.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
    .international-world {
        position: relative;
        text-align: center;
        padding: 15% 20%;
        height: 480px;
        background-color: #fff;
        background: url(../images/redsquare-worldmap-dotted.png) #fff no-repeat center center;
    }
}

.before-contact {
    background-color: #fafafa;
    height: 422px;
    width: 25%;
    display: inline-block;
    background: -webkit-linear-gradient(45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
    background: -moz-linear-gradient(45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
    background: -ms-linear-gradient(45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
    background: linear-gradient(45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
}
.after-contact {
    background-color: #fafafa;
    height: 422px;
    width: 25%;
    display: inline-block;
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
    background: -moz-linear-gradient(-45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
    background: -ms-linear-gradient(-45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
    background: linear-gradient(-45deg, #FFFFFF 0%, #FFFFFF 50%, #FAFAFA 50%, #FAFAFA 51%, #FAFAFA 100%);
}
.contact-m {

    // background-color: #fafafa;
    display: block;
    color: #fff;
    padding: 25px 0px;

    height: 700px;
    background-color: #f5f5f5;




    .contact-wrap {
         display: block;
         padding: 50px;
        width: 49%;
        margin: 0px auto;

    }
    .contact-header {
        width: 328px;
          margin-left: -74px;
          background-color: #fff;
          padding: 25px;
        span svg{
            height: 50px;
            width: 50px;
            margin: 0px 15px 0px 0px;
            float: left;
        }
    }

    .contact-form {
        position: relative;
        background-color: #fff;

        .contact-blurb {
            color: #484848;
            width: 350px;
            padding: 35px;
            background-color: #fff;
            position: absolute;
            right: -100px;
            top: -100px;
        }
    }
    form {
        padding: 50px 25px;


        input,
        textarea {
            background-color: #fff;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 2px solid rgba(0,0,0,0.5);
            border-left: 2px solid transparent;
            border-radius: 0px;
            resize: none;
            font-size: 16px;
        }
        input {
            height: 50px;
        }
        input:focus,
        textarea:focus {
            outline: none;
            border: none;
            border-bottom: 2px solid rgba(0,0,0,0.5);
            border-left: 2px solid rgba(0,0,0,0.5);
        }

        input::placeholder, textarea::placeholder {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 16px;
        }

        button {
            display: block;
            width: 50%;
            padding: 15px 40px;
            margin: 50px auto 0px;
            color: #fff;
            background-color: #E62B1E;
            outline: none;
            border: 1px solid #E62B1E;
            border-radius: 2px;
            font-size: 20px;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 300;
        }
    }
}

.is-active {
    transform: translateX(0) !important;
    opacity: 1 !important;
}



/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (max-width: 1090px) {
    .nav-m {
        .nav-logo {
            background: url(../images/redsquare-logo.png) no-repeat center center;
            position: relative;
            float: left;
            height: 52px;
            width: 52px;
            margin-top: -12px;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
        }
    }
}

/* Larger than desktop */
@media (min-width: 1040px) {


}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}